body{
    background-color: #111;
}

.cointainer{
    background-color: #fff;
    width: 450px;
    height: 550px;
    perspective: 2000px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img, .details{
    position: absolute;
    width: 100%;
    height: 100%;
    left:20px;
    transition: all 0.7s;
}

.img-front, .img-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.img{
    transform-origin: left;
    transform-style: preserve-3d;
}

.img-front img{
    width: 100%;
    height: 100%;
}

.img-back{
    background-color: #fff;
    transform: rotateY(180deg);
    opacity: 0.7;
}

.details{
    z-index:-1;
    background-color: #8a0a05;

}

.details h1{
    white-space: nowrap;
    font-family: verdana;
    font-size: 30px;
    text-transform: uppercase;
    color: #e8e3bd;
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.details ul{
    white-space: nowrap;
    font-family: verdana;
    font-size: 20px;
    color: #e8e3bd;
    margin: 0;
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%);
}


.cointainer:hover .img{
    transform: rotateY(-130deg);
}